.add_task{
    float: right;
}
.input-group{
    margin-bottom: 10px;
}
.modal{
    border-radius: 5px;
}
.text-mini{
    width: 45px;
}
#shift{
    float: right;
}
.due{
    border-left: 1px solid #333;
    width: 40px;
    float: right;
}
.conn{
    margin-top: 10px;
    height: 60vh;
    background: url(../images/comingSoon.gif) no-repeat;
    background-position: center;
}
.card-block-height{
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.task{
    padding: 5px;
}
.taskname{
width:90%;
}